body, html {
  background: #FFFFCC;
  /* background: linear-gradient(45deg, yellow 0%, #FFFFCC 50%, yellow 100%); */
  background-blend-mode: lighten;
  background-size: cover;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: right;
  font-family: Verdana, Geneva, Tahoma, sans-serif
}

h1 {
  font-size: 24pt;
  line-height: 0.2em;
}

h2 {
  font-size: 12pt;
}

#menu {
  display: flex;
  flex-direction: column;
  justify-content: right;
  padding: 30px;
}

#menu-items {
  overflow-y: auto;
  height: 70%;
}

#order {
  overflow: auto;
  padding: 30px;
  text-align: left;
  height: 100%;
}

#summary {
  padding: 30px;
  text-align: left;
}

.notice {
  font-size: 8pt;
  text-align: center;
}

.centered {
  text-align: center;
}

.addon-list {
  text-align: left;
  margin-left: 10%;
  font-size: 8pt;
}

.menu-description {
  text-align: left;
  margin-left: 40%;
  font-size: 8pt;
  color: black;
}

.total {
  font-size: 10pt;
}

.remove-item {
  font-size: 8pt;
  color: black;
  cursor: pointer;
}

.remove-item:hover {
  color: red;
}

.order-info {
  text-align: right;
  font-family: monospace;
  font-size: 8pt;
}