.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: right;
}

#menu {
  display: flex;
  flex-direction: column;
  justify-content: right;
  /* background-color: #474864; */
}

#order {
  /* background-color: #378461; */
}

#summary {
  /* background-color: #9037EF; */
}

.centered {
  text-align: center;
}